.main-menu p:hover {
  color: rgba(6, 123, 241, 0.856);
}
.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sub-menu {
    list-style: none;
    display: none;
    color: black;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  input[type='checkbox']:checked + label + ul {
    display: block;
  }
  
  label {
    cursor: pointer;
    color: black;
  }