.table {
  height: calc(100% - 72px);
  margin-top: 20px;
}
.table-container {
  height: calc(100% - 52px);
}
@media only screen and (max-width: 684px) {
  .table {
    height: calc(100% - 124px);
  }
}
