body {
  margin: 0;
  background: rgba(0, 0, 0, 0.12);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.public-home {
  height: inherit;
  /* background-image: url("/public/public-home.jpg"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* filter: blur(0px); */
}
.public-home .top {
  min-height: calc(100vh - 481px);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.intro {
  position: relative;
  top: 14px;
  left: 26px;
  font-size: 60px;
  display: inline-block;
  font-family: fantasy;
  padding-inline: 13px;
}
.public-home p {
  text-indent: 50px;
  text-align: justify;
  padding-inline: 88px;
  margin-top: 18px;
  font-family: cursive;
}

.public-home.mobile p {
  padding: 14px;
  overflow: scroll;
  height: calc(100% - 208px);
}
.map-marker {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.map-marker::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.about-us {
  margin: 20px;
  padding: 15px;
  width: 500px;
  border-radius: 13px !important;
}
